--extra-index-url https://download.pytorch.org/whl/cpu
backports.tarfile
fastapi
importlib-metadata
jaraco.collections
mlxtend
pip-chill
platformdirs
python-multipart
seaborn
tomli
torch
torch-geometric
uvicorn
